@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: calc(100% - 900px);
  min-width: 250px;
}

.slider::before,
.slider::after {
  content: "";
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  justify-content: space-between;
  width: calc(150px * 14);
}

.slide small {
  color: var(--white-color);
  text-transform: uppercase;
}

/* 
*===============================
*       CAROUSEL
*===============================
*/
.carousel__slider--radio {
  display: none;
}

.carousel__images {
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--light-pink);
}

.carousel__images--inner {
  display: flex;
  width: 500%;
  min-height: 45vh;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.carousel__images--slide {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 36px;
  transition: all 0.5s ease-out;
}

.carousel__images--slide img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.carousel__images--slide h4 {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  font-style: italic;
  opacity: 0.65;
}

.carousel__images--slide span {
  font-size: 14px;
}

.carousel__slider
  > #play1:checked
  ~ .carousel__images
  .carousel__images--inner {
  animation: slide 30000ms infinite;
}

#play1:checked:nth-child(1) {
  animation: caption 30000ms infinite -1000ms;
}

#play1:checked:nth-child(2) {
  animation: caption 30000ms infinite 3100ms;
}

#play1:checked:nth-child(3) {
  animation: caption 30000ms infinite 7200ms;
}

@keyframes slide {
  0%,
  25.203252032520325% {
    margin-left: 0;
  }
  33.333333333333336%,
  58.53658536585366% {
    margin-left: -100%;
  }
  66.66666666666667%,
  91.869918699187% {
    margin-left: -200%;
  }
}

@keyframes caption {
  0%,
  33.32333333333334% {
    opacity: 1;
  }
  33.333333333333336%,
  100% {
    opacity: 0;
  }
}

/* 
*============================
*        MEDIA QUERY
*============================
*/
@media (max-width: 1324px) {
  .modal__product img {
    max-width: 380px;
  }
}

@media (max-width: 1224px) {
  .modal__product-container {
    flex-direction: column;
    align-items: start;
  }

  .modal__product img {
    max-width: 280px;
    align-self: flex-start;
  }

  .modal__product-info {
    padding-left: 0;
    margin-top: 10px;
  }

  .modal__product-info > p {
    margin-bottom: 15px;
  }

  .modal__product-categories {
    margin-top: 15px;
  }
}

@media (max-width: 870px) {
  .modal__product-container {
    padding: 30px;
  }

  .modal__product {
    min-width: 90%;
  }

  .modal__product-info {
    margin-top: 7px;
  }

  .modal__product-info > p {
    margin-bottom: 10px;
  }

  .modal__product-categories {
    margin-top: 10px;
  }

  /* .modal__product {
    height: 90%;
  } */
}

@media (max-width: 420px) {
  .modal__product img {
    max-width: 45%;
  }
}
