/* 
*===============================
*         VARIÃVEIS
*===============================
*/
:root {
  --body-color: #f3f4f3;
  --black-color: #000000;
  --light-pink: #f2ece7;
  --gray-color: #707070;
  --white-color: #ffffff;
  --green-color: #0abd62;
  --red-color: #ed1212;
  --light_gray-color: #eff1f2;

  --transition: all 0.4s ease;
}

/* 
*===============================
*         PAGE SETTINGS
*===============================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.9rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: normal; 
}

body {
  width: 100%;
  background-color: var(--body-color);
  font-size: 1.6rem;
  position: relative;
}

.scrollToTopBtn{
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 22%; 
  background-color: var(--black-color);
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition); 
  z-index: 100; 
  border: none;   
  line-height: 48px; 
  opacity: 0; 
  transform: translateY(100px); 
}

.scrollToTopBtn > span {
  color: var(--white-color);
}

.scrollToTopBtn:hover{
  background: rgb(0 0 0 / 85%);
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}


/* 
*===============================
*         BUTTON
*===============================
*/
.main-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 2.5px solid var(--black-color);
  text-transform: uppercase;
  line-height: 1;
  font-size: 13px;
  font-weight: 700;
  padding: 12px 20px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.main-btn:hover {
  opacity: 0.85;
}

.outline {
  border-color: var(--white-color);
  background: transparent;
}

.filled a,
.outline a {
  color: var(--white-color);
}

.filled {
  background-color: var(--black-color);
  color: var(--white-color);
}




 

/* 
*===============================
*       CUSTOM CLASSES
*===============================
*/
.d-flex {
  display: flex;
}

.sp-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.al-center {
  align-items: center;
}

.mt-mb {
  margin: 5% 0;
}

.pr-pl {
  padding: 0 5%;
}

.m-height {
  min-height: 40vh;
}

.upper {
  text-transform: uppercase;
  text-align: center;
}

.success {
  color: var(--green-color);
  font-weight: normal;
}

.error {
  color: var(--red-color);
  font-weight: normal;
}

.paymentIcon {
  display: flex;
  align-items: center;
}

.fa-brands {
  font-size: 2rem;
  margin-left: 8px;
}

.fa-pix{
  color: #00B3A4;
}

.fa-paypal{
  color: #24397C;
}

.fa-bitcoin{
  color:  #F7A501 ;
}