/* 
*===============================
*        HEADER NAVBAR 
*===============================
*/
.nav {
  position: relative;
}

.nav__carousel {
  padding: 10px 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: var(--black-color);
}

.nav__container {
  position: fixed;
  z-index: 100;
  background-color: var(--white-color);
  left: 0;
  right: 0;
  height: 8vh;
  top: 40px;
  transition: var(--transition);
}

.nav-up {
  top: 0px;
}

.nav__logo h1 a {
  cursor: pointer;
  color: var(--black-color);
}

.nav__menu {
  width: 100%;
  max-width: 250px;
}

.nav__menu a {
  margin-right: 5px;
  color: var(--black-color);
  display: flex;
}

.nav__banner {
  position: relative;
  top: 100px;
  background-image: url("../assets/img/banner-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 78vh;
}

.nav__banner img {
  width: 100%;
}

.nav__banner-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100%;
  top: 0;
}

.nav__banner-text h1 {
  color: var(--white-color);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

/* 
*===============================
*       MAIN SECTION
*===============================
*/
.main {
  width: 100%;
  position: relative;
}

.sales {
  margin-bottom: 5%;
  position: relative;
  overflow: hidden;
}

.sales__title {
  width: 100%;
}

.sales__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 45px;
  transition: all ease-in-out 0.5s;
}

.sales__grid--card {
  position: relative;
  transition: var(--transition);
  cursor: pointer;
}

.sales__grid--card > span {
  position: absolute;
  text-transform: uppercase;
  background: var(--red-color);
  color: var(--white-color);
  padding: 0 5px;
  height: 26px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3px;
  left: 3px;
}

.sales__grid--card_img {
  position: relative;
}

.sales__grid--card_img .image-alt {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--transition);
}

.image-alt:hover {
  opacity: 1;
}

.sales__grid--card_img img {
  max-width: 200px;
  min-width: fill-available;
  min-width: -webkit-fill-available;
}

.sales__grid--actions {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  opacity: 0;
  bottom: 25%;
  transition: var(--transition);
  z-index: 10;
}

.sales__grid--card:hover .sales__grid--actions {
  transform: translateY(-10px);
  opacity: 1;
}

.sales__grid--actions .icon__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2.5px solid var(--black-color);
  background: var(--black-color);
  color: var(--white-color);
  transition: var(--transition);
  font-size: 13px;
  padding: 5px 15px;
}

.icon__btn:hover {
  opacity: 0.85;
}

.sales__grid--info {
  padding: 0 15px;
  transition: var(--transition);
  text-align: center;
}

.sales__grid--info p {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 12px !important;
}

.old-price {
  color: var(--gray-color);
  text-decoration: line-through;
  margin-right: 10px;
}

.sales__grid--rating .material-icons {
  font-size: 16px;
  margin-top: 8px;
}

.side__modal {
  position: absolute;
  width: 25%;
  right: -30%;
  /* right: 0; */
  top: 0;
  z-index: 102;
  height: 102.1%;
  background-color: tomato;
  transition: var(--transition);
}

/* 
*============================
*          FOOTER
*============================
*/

.footer {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 20px 5% 5px;
}

.footer__contact {
  margin-bottom: 20px;
}

.footer__contact h2,
.footer__contact h4 {
  font-weight: normal;
}

.footer__contact h4 span {
  font-size: 12px;
}

.footer__social-media {
  margin-bottom: 30px;
}

.footer__social-media h4 {
  margin-bottom: 5px;
}

.footer__social-media--icons {
  max-width: 150px;
}

.footer__social-media--icons img {
  width: 25px;
  transition: var(--transition);
}

.footer__social-media--icons img:hover {
  transform: translateY(-4px);
  opacity: 0.85;
}

.footer small {
  font-weight: normal;
  font-size: 10px;
}

/* 
*============================
*        NOT FOUND PAGE
*============================
*/
.notfound {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

.notfound__text {
  text-align: center;
}

.notfound__text a:hover {
  text-decoration: underline;
}

/* 
*============================
*      INSTAGRAM CAROUSEL
*============================
*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.instagram__slider {
  /* height: 250px; */
  min-height: 70vh;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.instagram__slider--title {
  min-height: 25vh;
}

.instagram__slider::before,
.instagram__slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.instagram__slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.instagram__slider::before {
  left: 0;
  top: 0;
}

.instagram__slider--track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  background: var(--light-pink);
  padding: 8% 0;
}

.instagram__slider--slide {
  padding-left: 20px;
  position: relative;
}

.instagram__slider--slide > span {
  position: absolute;
  width: 94.5%;
  height: 97.3%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
  opacity: 0;
  transition: var(--transition);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram__slider--slide > span:hover {
  opacity: 1;
}

.instagram__slider--slide > span > img {
  width: 12%;
}

.instagram__slider--slide img {
  width: 340px;
  height: 240px;
}

/* 
*============================
*        MEDIA QUERY
*============================
*/
@media (max-width: 1224px) {
  .nav__banner {
    height: 60vh;
  }

  .sales__grid {
    grid-template-columns: repeat(4, 1fr);
    margin: 5% 0;
  }
}

@media (max-width: 960px) {
  .nav__banner {
    height: 55vh;
  }

  .sales__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav__menu {
    display: none;
  }
}

@media (max-width: 724px) {
  .nav__logo h1 {
    font-size: 2.2rem;
  }

  .nav__banner-text h1 {
    font-size: 2rem;
  }

  .sales__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .sales__grid--actions {
    opacity: 1;
  }

  .sales__grid--actions {
    bottom: 27%;
  }

  .sales__grid--card:hover .sales__grid--actions {
    transform: translateY(0px);
  }

  .footer__contact {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer__social-media {
    margin-bottom: 0;
  }
}

@media (max-width: 460px) {
  .nav__banner-text {
    display: none;
  }

  .nav__banner {
    height: 50vh;
  }

  .sales__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .sales__grid--actions {
    bottom: 20%;
  }
}
